@model IEnumerable<RastgeleFilm.Models.Film>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="main-section" style="background-color:black" id="filmSayfasi">
    <!--main-section-start-->
    <div class="container">
        @foreach (var name in Model)
        {
            
            <h2>@_localizer[@name.FilmAd]</h2>
            <h6>@_localizer["Imdb Puanı:"] @name.FilmPuan</h6>
        }
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-warning btn-block" asp-action="Index" asp-controller="Home">@_localizer["Filmi Değiştir"]</a>
                <a class="btn btn-light btn-block disabled" >@_localizer["Listeme Ekle"]</a>
                <a class="btn btn-dark btn-block disabled" >@_localizer["Paylaş"]</a>
                <a class="btn btn-danger btn-block disabled" >@_localizer["Netflix'te İzle"]</a>
                <a class="btn btn-primary btn-block disabled" >@_localizer["Bildir!"]</a>
            </div>
            <div class="col-sm">
                @foreach (var movie in Model)
                {
                    <!--Video Başlangıç Kısmı-->
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <video controls width="600" height="300" autoplay>
                                    <source src="~/video/@movie.VideoYolu" type="video/mp4" alt="@movie.FilmAd">
                                    Video Yüklenemedi.
                                </video>
                            </div>
                        </div>
                    </div>
                    <!--Video Bitiş Kısmı-->
                }
            </div>
            <div class="col-sm">
                @foreach (var gorsel in Model)
                {
                    <img width="600" height="300" src="~/img/@gorsel.ResimYolu" alt="">
                }
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm">
            <h3>@_localizer["FİLMİN KONUSU"]</h3>
            @foreach (var acikla in Model)
            {

                @_localizer[@acikla.FilmAciklama];
            }
        </div>
    </div>
</section>
<!--main-section-end-->
